<!DOCTYPE html>
<html lang="en" class="w-full h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulation couverture satellitaire</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body class="w-full h-full flex flex-col relative overflow-scroll">
    <img id="open-sidebar-button" src="{{ url_for('static', filename='open.svg') }}" class="rotate-180 w-16 border-2 p-4 rounded-full text-gray-100 hidden right-12 absolute top-96" onclick="toggle_sidebar()"/>
    <div id="sidebar" class="md:absolute xl:h-full  w-96 flex items-center right-0 m-8">
        <div class="flex flex-col gap-2 justify-center xl:h-min w-96 overflow-scroll bg-gray-100 rounded-xl p-8">
            <img src="{{ url_for('static', filename='close.svg') }}" class="w-4" onclick="toggle_sidebar()"/>
            <div class="flex justify-between w-full">
                <div class="flex flex-col">
                    <label for="N_satellites">Nombre de satellites :</label>
                    <input type="number" id="N_satellites"
                        class="text-sm rounded-lg block w-full p-2.5 bg-gray-200 border-gray-600" />

                </div>
                <div class="flex flex-col w-min">
                    <label for="optimize_locally">Optimiser localement:</label>
                    <input type="checkbox" id="optimize_locally"
                        class="text-sm rounded-lg block w-full p-2.5 bg-gray-200 border-gray-600" />
                </div>
            </div>
            <div class="flex justify-center gap-2 items-center">
                <div class="flex items-center flex-col">
                    <label for="lat">Latitude</label>
                    <input type="number" id="lat"
                        class="text-sm rounded-lg block w-full p-2.5 bg-gray-200 border-gray-600" />
                </div>
                <div class="flex items-center flex-col">
                    <label for="long">Longitude</label>
                    <input type="number" id="long"
                        class="text-sm rounded-lg block w-full p-2.5 bg-gray-200 border-gray-600" />
                </div>
                <div class="flex items-center flex-col">
                    <label for="x">Poids</label>
                    <input type="number" id="w"
                        class="text-sm rounded-lg block w-full p-2.5 bg-gray-200 border-gray-600" />
                </div>
            </div>
            <button class="border-2 h-min border-gray-200 p-2 rounded-xl" onclick="add_city()">Ajouter une
                ville</button>
            <div class="flex">
                <button class="rounded-l-xl border-gray-200 border-2 border-r-0 p-2 w-full"
                    onclick="add_random_cities()">Ajouter</button>
                <input type="number" id="n_random_cities"
                    class="text-sm block p-2.5 bg-inherit border-2 border-gray-200 w-16" />
                <button class="rounded-r-xl border-gray-200 border-2 border-l-0 p-2 w-full"
                    onclick="add_random_cities()"> villes aléatoires</button>
            </div>
            <table class="max-h-48 overflow-scroll">
                <thead>
                    <tr>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Poids</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="cities" class="">
                </tbody>
                
            </table>
            <button class="border-2 h-min border-gray-200 p-2 rounded-xl" onClick="clear_cities()">Supprimer les
                villes</button>


            <div class="flex items-center justify-center w-full">
                <label for="dropzone-file"
                    class="flex flex-col items-center justify-center w-full h-32 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-transparent">
                    <div class="flex flex-col items-center justify-center pt-2 pb-3">
                        <svg class="w-8 h-8 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                        </svg>
                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400 text-center"><span
                                class="font-semibold">Cliquez</span> ou glissez-déposez un fichier contenant les villes
                            au format précisé dans l'énoncé</p>
                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400 text-center">Sélectionné: <span
                                id="csv-file-name" class="font-semibold">None</span></p>
                    </div>
                    <input id="dropzone-file" type="file" class="hidden" />
                </label>
            </div>

            <div class="flex">
                <button class="rounded-l-xl border-gray-200 border-2 p-2 w-full" onclick="compute(false)">Utiliser les
                    points sélectionnés</button>
                <button class="rounded-r-xl border-gray-200 border-2 border-l-0 p-2 w-full"
                    onclick="compute(true)">Utiliser le fichier CSV</button>
            </div>
        </div>
    </div>


    <iframe id="content" class="h-full w-full"></iframe>
    <div class="flex items-start w-full">
        <p><span class="font-semibold p-4">Coût: </span><span id="cost">0</span></p>
        <p><span class="font-semibold p-4">Couverture: </span><span id="coverage">0</span>%</p>    
    </div>
    <script>

        cities = []
        weights = []
        N_satellites_input = document.getElementById('N_satellites')
        optimize_locally_input = document.getElementById('optimize_locally')
        csv_input = document.getElementById('dropzone-file')
        csv_input.value = "";
        csv_file_name = document.getElementById('csv-file-name')

        content = document.getElementById('content')
        cost = document.getElementById('cost')
        coverage = document.getElementById('coverage')

        csv_input.addEventListener('change', function () {
            const file = csv_input.files[0];
            csv_file_name.textContent = file.name;
        });

        function compute(csv) {

            if(!N_satellites_input.value){
                alert("Veuillez entrer le nombre de satellites")
                return;
            }
            if(csv && !csv_input.files.length){
                alert("Veuillez sélectionner un fichier CSV")
                return;
            } 
            if (!csv && cities.length == 0){
                alert("Veuillez entrer au moins une ville")
                return;
            }

            body = {}

            body['N_satellites'] = N_satellites_input.value;
            body['csv'] = csv;
            body['cities'] = cities;
            body['weights'] = weights;
            body['R'] = 6371;
            body['optimize_decided'] = true;
            body['optimize_locally'] = optimize_locally_input.checked;
            body['csv_content'] = "";

            if (csv) {
                if (csv_input.files.length == 0) {
                    alert("Veuillez sélectionner un fichier CSV")
                    return;
                }
                console.log(csv_input.files[0].name);
                const reader = new FileReader();
                reader.onload = function (event) {
                    csv_content = event.target.result;

                    b64 = btoa(csv_content);
                    body['csv_content'] = b64;

                    call(body);
                }
                reader.readAsText(csv_input.files[0]);
            } else {
                call(body);
            }
        }

        function call(body) {
            console.log(body);
            fetch("/compute", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(body)
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    content.src = "plot/" + data['id'];
                    cost.textContent = data['cost'];
                    coverage.textContent = data['coverage'];
                })
                .finally(() => {
                    console.log("Done");
                });
        }
        
        open_sidebar = true
        sidebar = document.querySelector('#sidebar')
        open_sidebar_button = document.querySelector('#open-sidebar-button')
        function toggle_sidebar() {
            if (open_sidebar) {
                open_sidebar = false
                open_sidebar_button.style.display = "block";
                sidebar.style.display = "none";
            } else {
                open_sidebar = true
                open_sidebar_button.style.display = "none";
                sidebar.style.display = "flex";
            }
        }

        lat_input = document.getElementById('lat')
        long_input = document.getElementById('long')
        w_input = document.getElementById('w')
        cities_div = document.getElementById('cities')
        function add_city() {
            console.log(cities)
            cities.push([lat_input.value, long_input.value])
            weights.push(w_input.value)
            update_cities()
        }

        function delete_city(index) {
            removed = cities.splice(index, 1)
            
            update_cities()
        }

        n_random_cities_input = document.getElementById("n_random_cities")
        min_long = -180
        max_long = 180
        min_lat = -90
        max_lat = 90

        function round(value, decimals) {
            return Number(Math.round(value + 'e' + decimals) + 'e-' + decimals);
        }
        function add_random_cities() {
            for (i = 0; i < n_random_cities_input.value; i++) {
                long = round(Math.random() * (max_long - min_long) + min_long, 2)
                lat = round(Math.random() * (max_lat - min_lat) + min_lat, 2)
                w = round(Math.random() * 10 + 10, 2)
                cities.push([lat, long])
                weights.push(w)
            }
            update_cities()
        }

        function update_cities() {
            cities_div.innerHTML = ""
            for (i = 0; i < cities.length; i++) {
                cities_div.innerHTML += 
                `<tr>
                    <td>${cities[i][0]}</td>
                    <td>${cities[i][1]}</td>
                    <td>${weights[i]}</td>
                    <td><img src="{{ url_for('static',filename='close.svg') }}" onClick="delete_city(${i})" class="w-4 text-gray-200"></td>
                </tr>
                `
            }
        }

        function clear_cities() {
            cities = []
            weights = []
            update_cities()
        }
    </script>
</body>

</html>